/*https://images.pexels.com/photos/1640771/pexels-photo-1640771.jpeg*/





	
.grid {
  display: grid;  
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 0fr) 1fr repeat(2, 1fr) 1fr;
  background-color: #EEE8AA;
  color: black;
  margin: 1px;
  grid-template-areas:
    "header header introheader header header"
    "sidebar1 introinsidebar1 main introinsidebar2 sidebar2"
    "footer introinsidebar1 footer introinsidebar2 footer";
  width: 100%;
  font-size: 15px;
    border: 15px solid transparent;
    border-color: transparent;
	border-radius: 0px;
}



a {
	color: black;
	text-decoration: none;
	line-height: 2;
	white-space: nowrap;
	size
}

#fa {
	font-size: 2em;
	padding: 7px;
	height: 2px;
	white-space: nowrap;
	margin: 10px;	
}


body {
	margin: 3%;
	padding: 3%;
	background-color: #EEE8AA;
	font-family: arial;
}

.header 	{
	background-color: transparent;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
	/*Hasta aqui esta bien hecho el Grid*/
	text-align: center;

	border-color: goldenrod;
	border-width: 2px;
	border-radius: 10px;
	padding: 1px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 4px transparent;
	width: 100%;
	padding: 10px;
  background-size: cover;
  background-position: center center;
}


.introheader 	{
background-color: #EEE8AA;
  color: black;
  text-shadow: 1px 1px transparent;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
    border: 13px solid white;
    border-color: orange;
	border-radius: 100px;
  padding: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 2px 2px 4px transparent;
  margin-top: 0;
  padding: 30px;
  font-size: 18px;
  background-image: url('https://images.pexels.com/photos/1640770/pexels-photo-1640770.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: center center;
}
	

.sidebar1	{
	background-color: #40E0D0;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
	border-color: #FF1493;
	border: 10px solid transparent;
	border-radius: 10px;
	padding: 15px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 4px #888;
	
}


.introinsidebar1	{
	background-color: #78FFF1;
 grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
	border-color: black;
	border-radius: 10px;
	border: 10px solid transparent;
	padding: 1px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 4px transparent;
	overflow: hidden;
	/*tamaño del menu de dentro*/
	height: 99%;
	
}



.main	{
	background-color: white;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
	border-color: inherit;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 4px #888;
}

.sidebar2	{
  background-color: #FF1493;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  border-color: inherit;
  border-radius: 10px;
	border: 10px solid transparent;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 4px #888;
	
}


.introinsidebar2	{
	color: black;
	background-color: #FFD7ED;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
	border-color: white;
	border-radius: 10px;
	border: 10px solid transparent;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 2px 4px transparent;
	overflow: hidden;
	height: 100%;
	width: 99%;
	white-space: nowrap;
}

fieldset {
	border-style: groove;
	border-radius: 15px;
	border-color: black;
}


.footer {
  background-color: black;
  color: white;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 4;
  /*Hasta aqui esta bien hecho el Grid*/
  text-align: center;
  border-color: inherit;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 4px #888;
  height: 50px; /* Aquí se define la altura */
}

	
